@model StudentVm
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <input type="text" asp-for="Name" placeholder="Enter Name" />
    <input type="text" asp-for="Standard" placeholder="Enter Standard" />
    <input type="text" asp-for="Address" placeholder="Enter Address" />
    <input type="text" asp-for="Contact" placeholder="Enter Contact" />
    <button type ="submit" > submit</button>




</form>